<h1>Information for Flight Number: <%= @flight.number %> </h1>

<p>Date: <%= @flight.date %> </p>
<p>Time: <%= @flight.time %> </p>
<p>Departure City: <%= @flight.departure_city %> </p>
<p>Arrival City: <%= @flight.arrival_city %> </p>

<p>Airline: <%= @flight.airline.name %> </p>

<section class = "adults">
  <p>Adult Passengers on this flight: <%= @adults.count %></p>
  <% @adults.each do |adult| %>
    <%= adult.name %>
  <% end %>
</section>

<section class = "minors">
  <p>Underage Passengers on this flight: <%= @minors.count %></p>
  <% @minors.each do |minor| %>
    <%= minor.name %>
  <% end %>
</section>
